.features{
  //  background-color:$color-grey-light-2 ;
    grid-column: center-start / center-end ;
    
    margin: 15rem 0;

    display: grid;
   // grid-template-columns: repeat(3 , 1fr);//ye responsive nahi h isliye hm ab isse responsive bnayenge ...
   grid-template-columns: repeat(auto-fit ,minmax(25rem,1fr) );
    //grid-template-rows: auto auto;//we dont need this line of code because .. it automatically does those work ...
    grid-gap: 6rem;
    align-items: start;//this move the content of all feature boxex to start .. and of there sizes ,
}
.feature{
    display: grid;
    grid-template-columns: min-content 1fr;//once again we dont need to define the rows ...
    grid-row-gap: 1.5rem;
    grid-column-gap:2.5rem ;
    &__icon{
       fill:$color-primary;
       width: 4.5rem;
       height: 4.5rem;
       grid-row: 1/ span 2;
       transform: translateY(-1rem);
    }
    &__text{
        font-size: 1.7rem;
    }
}
//when we write grid-column 1/-1 ... -1 in only defined when we have explicitly defined the grid ...